/*reset*/

body {
	margin: 0;
	font-family: Proxima Nova;
}

a{
	outline: none;
}

@font-face {
	font-family: Proxima Nova;
	src:url(../fonts/proxima.ttf);
}

.container {
	max-width: 1200px;
}
/*header*/

/*header-top*/

.background-wrapper {
	height: 890px;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.header-top {
	height: 85px;
}

#logo {
	margin-top: 43px;
}

.contacts {
	display: flex;
	flex-direction: column;
	margin-top: 43px;
	padding-left: 50px;
	color: #66b045;
	font-size: 1.1em;
	font-weight: bold;
}

.contacts-numbers {
	height: 20px;
	margin-left: 12px;
}

.contacts a {
	color: #66b045;
}

.contacts div {
	display: flex;
}

.mail {
	margin-left: 20px;
}

.mail img  {
	width: 12px;
	height: 11px;
	margin-top: 5px;
	margin-right: 4px;
}

.phone img  {
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-right: 4px;
}

.adress {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-left: 10px;

}

.adress div{
	display: flex;

}

.adress-top {
	color: #542749;
}

.adress-bottom {
	margin-left: 25px;
}

/*header-middle*/


/*left block*/

.left-block {
	display: flex;
	flex-direction: column;
}

.time-info {
	display: flex;
	flex-direction: row;
	color: #66b045;
}

.data {
	font-size: 86px;
	font-weight: bold;
}

#bold-text {
	font-weight: bold;
}
.time {
	display: flex;
	flex-direction: column;
	font-size: 26px;
	align-items: flex-start;
	justify-content: center;
	letter-spacing: 0.21px;
	line-height: 25px;
	margin-left: 9px;
}

.trust-factor {
	display: flex;
	color: #66b045;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.4px;
	margin: -20px 0 0 10px;
	text-transform: uppercase;
}

.name-of-company {
	display: flex;
	flex-direction: column;
	color: #542749;
	font-size: 110px;
	font-weight: bolder;
	letter-spacing: 2.08px;
	line-height: 100px;
	text-transform: uppercase;
	margin-top: 43px;
}

.name-of-company2 {
	font-size: 44px;
}

.name-of-company3 {
	font-size: 44px;
	margin-top: -50px;
	font-weight: bold;
}

.play-video {
	display: flex;
	flex-direction: row;
	margin-left: 60px;
	background-image: url('../images/round.png');
	width: 118px;
	height: 118px;
}

.triangle {
	display: flex;
	margin: 30px auto;
	width: 46px;
	height: 56px;
}

.triangle img {
	padding-left: 5px;
}
/*right-block*/

.form {
	display: flex;
	flex-direction: column;
	align-items: : center;
	width: 434px;
	height: 644px;
	background-color: rgba(44,76,101,.4);
	margin-top: 36px;
	margin-left: 36px; 
}

.form-name {
	width: 271px;
	height: 56px;
	color: #ffffff;
	font-size: 22px;
	margin: 0 auto 20px;
	padding-top: 46px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 0.55px;
}

.form-name span {
	font-size: 41px;
}

.form-group {
	text-align: center;
	margin-top: 70px;
}
.form-group input {
	width: 	300px;
	height: 50px;	
	margin: 10px auto;
	background-color: #ebeef0;
	color: 	#839fb1;
	font-weight: bold;
	padding-left: 15px;

}

.toggle-box {
	width: 300px;
	height: 50px;
	border: 1px solid #ffffff;
	margin: 10px auto;
	border-radius: 30px 30px 30px 30px;
}
.form-check {
	display: flex;
	justify-content: center;
	width: 300px;
    margin: 10px auto;
 	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.09px;
}

.form-check p {
	margin-left: 12px;
}

.form-check input {
	width: 24px;
	height: 24px;
	color: #66b045;
}

#button {
	width: 	300px;
	height: 50px;	
	margin: 10px auto;
	background-color: #542749;
	color: white;
	border: none;
	font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

.text-form-bottom {
	width: 282px;
	margin: 10px auto;
	text-align: center;
	color: white;
	font-weight: bold;
}

/*social icon*/
.social-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 36px;
}

.text-social {
	color: #426176;
	font-size: 12px;
	letter-spacing: 0.3px;
	font-weight: bold;
	margin: 8px 0;
}

.social-logo a{
	margin-left: 4px;
}

/*profit section*/

.profit > .row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.top div {
	display: flex;
	justify-content: flex-start;
	height: 284px;
	align-items: center;
	color: #542749;
	line-height: 60px;
	font-size: 48px;
	font-weight: 800;
	border-bottom: 2px solid #d2cad5;
	border-left: 2px solid #d2cad5;
}

.top div :after {
	display: flex;
	justify-content: flex-start;
	border-bottom: 2px solid #d2cad5;
	border-left: 2px solid #d2cad5;
}

.top h1 {
	margin-left: 20px;
	font-weight: 800;
}

.middle div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 266px;
	border-bottom: 2px solid #d2cad5;
	border-left: 2px solid #d2cad5;
}

.middle div:last-child {
	border-right: 2px solid #d2cad5;
}


.middle2 div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 266px;
	border-bottom: 2px solid #d2cad5;
	border-left: 2px solid #d2cad5;
}

.middle2 div:last-child {
	border-right: 2px solid #d2cad5;
}


.number {
	color: #66b045;
	font-size: 48px;
	font-weight: bold;
	line-height: 60px;
}

.text {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	color: #542749;
}

.bottom div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 142px;
}

.background-item {
	background-color: rgb(235,238,240,.2);

}

.button-2 {
	width: 305px;
	height: 64px;
	background-color: #542749;
	color: white;
	border: none;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}
.after-button-text {
	display: flex;
	justify-content: flex-start !important;
	color: #66b045;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.46px;
}

/*lection*/
.lection {
	height: 685px;
	background-image: url(../images/yoga.jpg);
	background-position: center center;	
}

.lection-right {
	display: flex;
	flex-direction: column;
}

.lection-right div {
	display: flex;
	height: 125px;
	align-items: center;
	justify-content: flex-start;
	margin-top: 23px;
	margin-left: 10px;
}

.lection-right p {
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	padding-left: 30px;
}

.lection-right h1 {
	color: #ffffff;
	font-size: 48px;
	font-weight: bold;
	line-height: 50px;
	padding-left: 30px;
}

.lection-right img {
	margin: 0 auto;
}
.imgWrapper {
	width: 126px;
	height: 125px;
	background-image: url(../images/whiteround.png);
}

/*footer*/
.footer {
	height: 81px;
	background-color: #542749;
	color: white;
	padding-top: 30px;
}

.footer a{
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 15px;
	text-decoration: underline;
	letter-spacing: 0.46px;
}


.copyrights {
	text-align: left;
}

.politic {
	text-align: right;
}

.fix-height {
	min-height: 96px;
}

/*responsive styles*/
@media screen and (max-width: 767px) {
	
	.right-block {
		display: none;
	}

	.left-block div {
		text-align: center;
		justify-content: center;
	}
	
	.play-video {
		margin: 0 auto;
	}

	.logo {
		display: flex;
		justify-content: center;
	}

	.profit > .row {
		flex-direction: column;
		height: auto;
	}
}

