/*reset*/

body {
	margin: 0;
}

a{
	outline: none;
}

/*header*/

/*header-top*/

.background-wrapper {
	height: 900px;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.header-top {
	height: 85px;
}

#logo {
	margin-top: 43px;
}

.contacts {
	display: flex;
	flex-direction: column;
	margin-top: 43px;
	color: #66b045;
	font-size: 1.2em;
	font-weight: bold;
}

.contacts-numbers {
	margin-left: 5px;
}

.contacts a {
	color: #66b045;
}

.contacts div {
	display: flex;
}

.contacts i {
	margin: 3px 10px 0;
	color: #542749;
}

.mail {
	margin-left: 20px;
}

.adress {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	margin-left: 10px;

}

.adress div{
	display: flex;

}

.adress-top {
	color: #542749;
}

.adress-bottom {
	margin-left: 25px;
}

/*header-middle*/
.form {
	height: 644px;
	background-color: #2c4c65;
	opacity: 0.4;
}